---
layout: blog
title: News & Updates
---
<section id="blog" class="jumbotron">
  <div class="container">
    <div class="title col-md-12 center-text">
      <h2> TRNASITLAND NEWS</h2>
    </div>
    <div class = "post-list">
      {% for post in site.posts limit: 1 %}
      <div class = "post-wrapper">
        <div class = "col-md-2 post-info"> 
           <a href = "{{post.url}}"> {{ post.date | date_to_string }} </a>
        </div>
        {% if post.isThereTitle %}
          <div class = "col-md-10 post-content">
            <h1 class = "title">{{post.title}}</h1> 
            <!-- if there is split mark, main page only shows the part before the mark -->
            {% assign paragraphs =  post.content | split:"<!-- more -->" %}
              {% if paragraphs.size > 1 %}
                {{ paragraphs.first }}
                <a href = "{{post.url}}">Read more...</a>
              {% else %}
                {{ paragraphs }}
              {% endif %}
          </div>
        {% else %}
          <div class = "col-md-10 post-content no-title">
            {{post.content}}
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="infinite-spinner"></div>
</section>