<div class="toc-docs hidden-print affix-top" role="directory" id="toc">
  <ul class="nav toc-nav">
    {% for category in site.data.documentation %}
      <li class="toc-top-level">
        <a href="{{category.path}}" class="toc-subnav {% if category.path == page.url %}active{% endif %}">
          {{category.title}}
        </a>
        <ul class="toc-subnav">
          {% for doc_page in category.pages %}
            {% assign pagetitle = doc_page.title|downcase|replace: ' ','-' %}
            <li>
              <a  {% if page.url contains pagetitle %} class="active" {% endif %} href="{{doc_page.path}}">{{doc_page.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>