<footer>
  <div class="container">
      <p>
        <ul class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <h6> TECHNOLOGY </h6>
          <li><a href="/how-it-works">How It Works</a></li>
          <li><a href="/feed-registry">Feed Registry</a></li>
          <li><a href="mailto:transitland@mapzen.com">Datastore API</a></li>
          <li><a href="/playground">Playground</a> </li>
        </ul>
        <ul class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <h6> RESOURCES </h6>
          <li><a href="/">Glossary of terms</a></li>
          <li><a href="/">GitHub</a></li>
          <li><a href="/">Mail</a></li>
          <li><a href="/">Twitter</a> </li>
        </ul>
        <ul class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <h6> PARTICIPATE </h6>
          <li> <i class="fa fa-home"></i> <a href="//mapzen.com">Mapzen</a></li>
          <li> <i class="fa fa-github-alt"></i> <a href="//github.com/transitland">GitHub</a></li>
          <li> <i class="fa fa-envelope-o"></i> <a href="mailto:transitland@mapzen.com">Mail</a></li>
          <li> <i class="fa fa-twitter"></i> <a href="//twitter.com/transitland">Twitter</a> </li>
        </ul>
      </p>
    </div>
</footer>