<footer>
  <div class="container">
    <p>
      <ul class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        Mapzen
        <li><a href="//mapzen.com">Home</a></li>
      </ul>
       <ul class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> Github
        <li><a href="//github.com/transitland">Transitland</a></li>
      </ul>
      <ul class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> Hello
        <li><a href="mailto:transitland@mapzen.com">Mail</a></li>
        <li><a href="//twitter.com/transitland">Twitter</a></li>
      </ul>
    </p>
    <p class="center-text">© 2015 Mapzen</p>
  </div>
</footer>