<footer>
  <div class="container">
    <p>
      <ul class="col-lg-12">
        <li> <i class="fa fa-home"></i> <a href="//mapzen.com">Mapzen</a></li>
        <li> <i class="fa fa-github-alt"></i> <a href="//github.com/transitland">GitHub</a></li>
        <li> <i class="fa fa-envelope-o"></i> <a href="mailto:transitland@mapzen.com">Mail</a></li>
        <li> <i class="fa fa-twitter"></i> <a href="//twitter.com/transitland">Twitter</a> </li>
      </ul>
    </p>
    <p class="center-text">© 2015 Mapzen</p>
  </div>
</footer>