<nav class="navbar col-lg-12 col-md-12 col-sm-12">
  <a href="/"><div class="logo-image"></div></a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">
      MENU 
    </button>
  </div>

  <div id="nav-menu-helper"></div>
  <div id="nav-menu-bar" class="navbar-collapse collapse">
    <div class="nav-menu">
      <div class="float-left">
        <a class='{{"/index.html" | activelink: page.url }}' href="{{site.url}}" target="_self">
        <div class="circle"></div><div class="main">home</div>
        </a>
      </div>
      <div class="float-left">
        <a class='{{"/how-it-works" | activelink: page.url }}' href="{{site.url}}how-it-works" target="_self">
        <div class="circle"></div><div class="main">how it works</div>
        </a>
      </div>
      <div class="float-left">
        <a href="{{site.url}}feed-registry" target="_self">
        <div class="circle"></div><div class="main">feed registry</div>
        </a>
      </div>
      <div class="float-left">
        <a href="{{site.playground_url}}" target="_self">
        <div class="circle"></div><div class="main">playground</div>
        </a>
      </div>
      <div class="float-left">

        <a class= {% if include.link == '/news' %}{{ 'active' }}{% else %}{{ 'inactive' }}{% endif %} href="{{site.url}}news" target="_self">
        <div class="circle"></div><div class="main">news & updates</div>
        </a>
      </div>
    </div>
  </div>
</nav>