<nav class="navbar col-lg-12 col-md-12 col-sm-12">
  <a href="/"><div class="logo-image"></div></a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">
      MENU
    </button>
  </div>

  <div id="nav-menu-helper"></div>
  <div id="nav-menu-bar" class="navbar-collapse collapse">
    <div class="nav-menu">
      <div class="float-left">
        <a class={% if page.url == "/" %}{{ 'active' }}{% else %}{{ 'inactive' }}{% endif %} href="/" target="_self">
        <div class="circle"></div><div class="main">home</div>
        </a>
      </div>
      <div class="float-left">
        <a href="/feed-registry" target="_self">
        <div class="circle"></div><div class="main">feed registry</div>
        </a>
      </div>
      <div class="float-left">
        <a href="/playground" target="_self">
        <div class="circle"></div><div class="main">playground</div>
        </a>
      </div>
      <div class="float-left">
        <a class= {% if page.url contains "documentation" %}{{ 'active' }}{% else %}{{ 'inactive' }}{% endif %} href="/documentation" target="_self">
        <div class="circle"></div><div class="main">Documentation</div>
        </a>
      </div>
      <div class="float-left">
        <a class= {% if page.url contains "news" %}{{ 'active' }}{% else %}{{ 'inactive' }}{% endif %} href="/news" target="_self">
        <div class="circle"></div><div class="main">news & updates</div>
        </a>
      </div>
    </div>
  </div>
</nav>
