#blog {
  .title { 
    margin-bottom: $spacing-unit*2; 
    margin-top: $spacing-unit*1.5; 
  }
  .container { max-width: 800px;}
  p { 
    margin-bottom:$spacing-unit;
    margin-top:$spacing-unit;
  }
  
  .post-wrapper {
    // This is for post, using whole new header style to make post writing easy
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 30px 0;
    border-bottom: 2px solid #eee;

    h1 {
      font-family: Lato;
      font-size: 23px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 23px;

      &.title {
        font-size: 28px;
        line-height: 28px;
      }
    }
    h3 {
      font-family: Lato;
      font-size: 17px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 23px;
    }
    p {
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: 300;
      line-height: 23px;
    }
    blockquote {
      font-family: Lato;
      font-size: 17px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 23px;
    }
    pre {
      font-family: Lato;
      font-size: 11px;
      font-style: normal;
      font-variant: normal;
      font-weight: 300;
      line-height: 23px;
    }

    image {
      width: 100%;
    }

    .no-title {
      *:first-child {
        //when there is no title, first element shouldn't have margin top to align with date
        margin-top: 0;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
    .post-info {

    }
    .post-content {
      .title {
        margin-top: 0px;
      }
    }

  }

}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
