#documentation {

  .container {
    max-width: 1100px;
  }

  @include media-query($on-small-screen){
    //give some paddings when side nav goes top
    .documentation-content {
      margin-top: 20px;
    }
  }

  //api table on datastore/api-endpoints page
  table#api {
    margin-top: 30px;
    th:first-child {
      width: 90px;
    }
  }

  table {
    td code {
      word-break: break-all;
    }
  }

  //little icon before list
  ul.all-links {
    list-style-type:none;
    & li::before {
      font-family: $font-awesome;
      font-size: $base-font-size - 3px;
      content: " \f08e ";
      margin-right: 10px;
    }
    & li.github::before {
      content: " \f09b ";
    }
    & li.help::before {
      content: " \f059 ";
    }
  }

  //bottom link to github
  .edit-action {
    margin-top: 10px;
    //github mark
    i {
      color:#666;
      font-size:25px;
      margin: 2px;
    }
  }
}
