#index-1 {
  height: 650px;
  //no footer
  margin-bottom: 0px;
  h2 {
    padding-top: 0px;
    white-space: nowrap;
  }

  .row {
    padding : 20px;
  }
}

#index-2 {
  height: 650px;
  //no footer
  margin-bottom: 0;
  background-color: $logo-color-3;  //blue
  p { font-size:18px; }
  .badges-wrapper {
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
  }
  .badge-circle {
    width: 90px;
    height: 90px;
    border-radius:50%;
    border: 3px solid #ccc;
    float: left;
    background-size: 90% 90%;
    background-color: #fff;
    background-position: center center;
    margin: 10px 15px;
  }
  #trans-badge-1 { background-image: url(/assets/images/badges/badge_train.png);}
  #trans-badge-2 { background-image: url(/assets/images/badges/badge_bus.png);}
  #trans-badge-3 { background-image: url(/assets/images/badges/badge_cablecar.png);}
  #trans-badge-4 { background-image: url(/assets/images/badges/badge_ferry.png);}
  #trans-badge-5 { background-image: url(/assets/images/badges/badge_tram.png);}
  #trans-badge-6 { background-image: url(/assets/images/badges/badge_trolley.png);}
}

#index-3 {

  height: 650px;
  margin-bottom: 0px;
  background-color: $logo-color-4;  //orange
  p { font-size:18px; }
  .badges-wrapper {
    margin-top: 50px;
    text-align: center;
  }

  img {
  width: 100%;
  max-width: 400px;
  }
}

#index-4 {
  height: 800px;
  h3 { margin-bottom:30px; }

  .arrow-p {
    height: $spacing-unit*3;
    display: inline-block;
  }
  .blurb { margin-bottom:$spacing-unit; }
}


.br-on-mobile{
  display:block;
}

@include media-query($on-pad){

  #index-{
    @for $i from 1 through 4 {
      &#{$i}{
          height:auto;
      }
    }
  }
  /* page specific*/
  #index-1 h2{
    font-weight:700;
    font-size:26px;
    letter-spacing: 1.6px;
    display:inline;
    line-height:1em;
    vertical-align: middle;
    white-space: normal;
    margin:0 auto;
  }
  #index-1 .container{
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
  }

  #index-2 .badges-wrapper{
   margin-top:20px;

  }
  #index-3 .badges-wrapper{
    margin-top:20px;
  }
  #playground-demo{
  top:300px;
  }
  .container{
    padding:0px 2.55%;
    position:relative;
    top:35%;
    width:100%;
    margin:0 auto;
  }

  #index-2.jumbotron { padding:$spacing-unit*4 0; }
  #index-3.jumbotron { padding:$spacing-unit*4 0; }
  #index-4.jumbotron { padding:$spacing-unit*4 0; }

  #index-2 .container{top:15%;}
  #index-4 .container{top:15%;}
  #index-4 {margin-bottom: 0;}


  .br-on-mobile{ display:inline; }
  .arrow-p{ display:none; }

}

@include media-query($on-palm){
  h2{
    font-size:30px;
    letter-spacing: 1.7px;
  }

  .badges-wrapper{
   margin-top:0px;
   margin-left: auto;
   margin-right: auto;
   width: 300px;
  }

  #index-2 .badges-wrapper{
   width: 270px;
   margin:0 auto;
  }

  .badge-circle{
    width:80px;
    height:80px;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .container{
    padding:0px 15px;
    width:100%;
    margin:0 auto;
  }
  #index-2,#index-4{
    .container{
      top:5%;
    }
  }
}
