html,body{
  width:100%;
  height:100%;
}

body{
  font-family:$base-font-family;
  overflow-x:hidden;
  overflow-y:scroll;
}

div,section{
   box-sizing: border-box;
}

section{
  position: relative;
  width: 100%;
  min-height: 600px;
  height:800px;
  display: block;
 // overflow: hidden;
 &.not-full-height {
  min-height: 0;
  height: auto;
 }
}
.reveal section{
  min-height:0px;
}
::-moz-selection {
   background-color: #ccc;
   color: #fff;
}
::selection {
    background-color: #ccc;
    color: #fff;
}

.jumbotron{
  margin:0;
  background-color:#fff;
}
.jumbotron .container{
  max-width:1030px;
}
a{
  text-decoration: none;
  color:$logo-color-2;
}
a:hover{
  text-decoration: none;
}

.jumbotron p{
  font-weight:300;
}

@include media-query($on-pad){
  .jumbotron{  
    height:auto;
    margin:0;
    padding-top:10px;
  }
  section{
  position: relative;
  width: 100%;
  height:100%;
  display: block;
 
  }
}
