html,body{
  width:100%;
  height:100%;
}

body{
  font-family:$base-font-family;
  overflow-x:hidden;
}

div{
   box-sizing: border-box;
}

.jumbotron{  
  min-height:100%;
  height:auto;
  margin:0;
  padding-top:150px;
  padding-bottom:150px;
  background-color:#fff;
}

.jumbotron p{
  font-weight:300;
}


@include media-query($on-small-screen){
  .jumbotron{  
    height:auto;
    margin:0;
    padding-top:10px;
  }

}
