.fade{
  opacity:1;
}
.slide{
  width:100%;
  height:100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.keep-slide{
  ///////////
  min-height:550px;
}

.reveal section .container{
  margin: 0 auto;
}
#slide-{
  @for $i from 1 through 6 {
    &#{$i}{
      background-image:url("../images/slides/hiw_"+ $i +".png");
      @if $i < 4{
        margin-top:40px;
      }@else{
        top:25%;
      }
    }
  }
}
#slide-{
  @for $i from 1 through 6 {
    
    &#{$i}-desc{
      @if $i < 3 {
        float:right;
        margin-right:30px;
      }@else if $i < 6{
        margin-left:30px;
      }@else{
          width:80%;
          margin:40px auto 0;
          font-size:18px;
          line-height:27px;
      }
    }
  }

}

.slide-desc{
  width:40%;
  background-color:rgba(235,235,235,0.9);
  text-align: left;
  font-size:16px;
  font-weight:300;
  padding:15px;
  margin-top:40px;
  line-height:23px;
}

.reveal .controls .navigate-up{
  display:none;
}
.reveal .controls .navigate-down{
  display:none;
}

.reveal ul{
  list-style-type:none;
  padding: 0 0;
  & li::after{
    font-family:$font-awesome;
    font-size:16px;
    content:" \f08e ";
  }
}

@include media-query($on-pad){

  .reveal{
    -ms-touch-action: auto;
        touch-action: auto;
    .slides > section{
      display:inline-block;
      position:relative;
      height : $mobile-slide-h
    }
  }


.slide-desc{
  width:90%;
  background-color:rgba(235,235,235,0.7);
  text-align: left;
  float:left;
  margin-left:15px !important;
  margin-right:15px !important;
  padding:15px;
  margin-top:150px;
  }

  #slide-{
    @for $i from 1 through 6 {
      &#{$i}{
        background-image:url("../images/slides/hiw_"+ $i +"_mobile.png");
        background-size: 210px 140px;
        background-position:50% 0%;
        display:inline-block
      }
    }
  }

  #hiw.jumbotron{
    height:$mobile-slide-h * 6;
    margin-bottom:$footer-h;
  }
  
  #hiw .container{
    top:0%;
  }
}


@include media-query($on-palm){
  #hiw.jumbotron{
    height:$mobile-slide-h * 5.5;
    margin-bottom:$footer-h;
  }
}