#hiw{

  .title{
    z-index:30;
  }

  #slide-{
    @for $i from 1 through 4 {
      &#{$i}{
        //display:block;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        height: 750px;
        background-size:1000px auto;
        background-image:url("../images/slides/hiw@2x_"+ $i +".png");
        @if $i < 2 {
          background-position:center 330px;
        }@else{
          background-position:center 250px;
        }

        @if $i > 3{
          margin-bottom:110px;
        }
      }
    }
  }

  #slide-{
    @for $i from 1 through 4 {
      &#{$i}-desc{
        position:absolute;
        left : 50%;
        top : 0%;
        @if $i < 2 {
          transform:translate(-10%, 30%);
          width: 30%;
          width: 430px;
        }@else if $i < 3{
          transform:translate(-100%, 80%);
          width: 30%;
          width: 430px;

        }@else if $i < 4{
          transform:translate(-90%, 30%);
          width: 30%;
          width: 430px;

        }@else{
          transform:translate(-50%, 80%);
          width: 80%;
          width: 800px;
        }
      }
    }
  }

  .slide-desc{
    width:40%;
    background-color:rgba(235,235,235,0.9);
    text-align: left;
    padding:15px;
    font-weight:300;
    font-size:18px;
    line-height:27px;
  }

  ul{
    list-style-type:none;
    padding: 0 0;
    & li::before{
      font-family:$font-awesome;
      font-size:$base-font-size - 3px;
      content:" \f08e ";
      margin-right:10px;
    }
  }

  ul#nav-dots{
    & li{
      width:20px;
      height:20px;
      margin-bottom:10px;
      color:#ccc;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.active{
        color:$logo-color-1;
      }
    }
    & li:hover{
      color:$logo-color-1;
    }
    & li:before{
      content:"";
    }
    position:fixed;
    top: 50%;
    right:30px;
    cursor:pointer;
  }

  // .scroll_arrow:before {
  //   content:'';
  //   width: 0; 
  //   height: 0; 
  //   display:block;
  //   border-left: 20px solid transparent;
  //   border-right: 20px solid transparent;
  //   border-top: 38px * 0.88 solid #ccc;
  //   margin-top:20px;
  //   margin-left:10px;
  //   z-index:30;
  // }

  .scroll_arrow {

    width:120px;
    height:60px;
    background-color:transparent;
    display:block;
    z-index:25;
    position:absolute;
    left:50%;
    top:650px;
    margin-left:-50px;
    cursor:pointer;
  }



  @include media-query($on-small-screen){
  
    #slide-{
      @for $i from 1 through 4 {
        &#{$i}{
          background-size: 100%;
          position:relative;
          height:100%;
          @if $i < 2 {
            background-position:center 330px;
          }@else{
            background-position:center 100px;
          }
          height: 800px;
          background-image:url("../images/slides/hiw-mobile_"+ $i +".png");
          opacity:1;
          @if $i > 3{
            margin-bottom:110px;
          }
        }
      }
    }

    #slide-{
      @for $i from 1 through 4 {
        &#{$i}-desc{
          left : 50%;
          top : 50%;
          transform:translate(-50%, -50%);
          width: 80%;
          max-width: 800px;
        }
      }
    }

  .scroll_arrow {
    display:none;
    }
  }

}