$slideNum : 5;

#hiw.jumbotron{
  margin-bottom:0;
  padding-bottom:0;
}

#hiw{

  .title{
    z-index: 30;
    margin-bottom: $spacing-unit*2; 
    margin-top: $spacing-unit*1.5;
  }

   #slide-{
     @for $i from 1 through $slideNum {
       &#{$i}{
         height: 700px;
         background-color:#fff;
         background-attachment: fixed;
         background-repeat: no-repeat;
         position: relative;
         -webkit-background-size: 900px auto;
         background-size: 900px auto;
         background-image:url("../images/slides/hiw@2x_"+ $i +".svg");
        @if($i == 1) {
          background-position:center 330px;
        }@else {
          background-position:center 150px;
        }
      }
     }
   }

  #slide-{
    @for $i from 1 through $slideNum {
      &#{$i}-desc{
        position:absolute;
        left : 50%;
        top : 0%;
        width:430px;
        @if ($i == 2) {
          -webkit-transform:translate(10%, 100%);
          transform:translate(10%, 100%);
        }@else if ($i == 3){
          -webkit-transform:translate(-100%, 220%);
          transform:translate(-100%, 220%);
        }@else if ($i == 4){
          -webkit-transform:translate(-90%, 130%);
          transform:translate(-90%, 130%);
        }@else{
          -webkit-transform:translate(-50%, 80%);
          transform:translate(-50%, 80%);
          width: 800px;
        }
      }
    }
  }

  .slide-desc{
    width:40%;
    background-color:rgba(235,235,235,0.9);
    text-align: left;
    padding:15px;
    font-weight:300;
    font-size:18px;
    line-height:27px;
  }

  ul{
    list-style-type:none;
    padding: 0 0;
    & li::before{
      font-family:$font-awesome;
      font-size:$base-font-size - 3px;
      content:" \f08e ";
      margin-right:10px;
    }
  }

  ul#nav-dots{
    & li{
      width:6px;
      height:6px;
      margin-bottom:20px;
      background-color:#ccc;
      border-radius:50%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &.active{
        background-color:$logo-color-1;
      }
    }
    & li:hover{
      background-color:$logo-color-1;
    }
    & li:before{
      content:"";
    }
    a {
      width:150%;
      height:150%;
    }
    position:fixed;
    top: calc( 50% - 50px);
    right:30px;
    cursor:pointer;
  }

  .scroll_arrow {
    width:120px;
    height:60px;
    text-align:center;
    background-color:transparent;
    display:block;
    z-index:25;
    color:#666;
    position:absolute;
    left:50%;
    bottom:-20px;
    margin-left:-50px;
    cursor:pointer;
  }

  @include media-query($on-small-screen){
    #slide-{
      @for $i from 1 through $slideNum {
        &#{$i}{
          -webkit-background-size: 100%;
          background-size: 100%;
          height:700px;
           @if $i < 2 {
            -webkit-background-position : center 100px;
            background-position:center 430px;
            height:300px;
          }@else{
             -webkit-background-position:center 200px;
             background-position:center 100px;
           }
        }
      }
    }

    #slide-{
      @for $i from 2 through $slideNum {
        &#{$i}-desc{
          left : 50%;
          top : 50%;
          -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
          width: 80%;
          max-width: 800px;
        }
      }
    }
    .scroll_arrow {
      display:none;
      }
    ul#nav-dots{
      display:none;
    }
  }

}