#open {
  .container { max-width: 800px;}
  p { 
    margin-bottom:$spacing-unit;
    margin-top:$spacing-unit;
  }
}

#participate {
  .yesno { margin-top:0;}
  .container { max-width: 800px; }
  p { margin-bottom:$spacing-unit; }
  
  .yesanswer {
    display: block;
    font-weight: 400;
  }
}


@include media-query($on-pad){

  #open .title{margin-bottom:$spacing-unit; margin-top:$spacing-unit/2;}
  #participate .title{margin-bottom:$spacing-unit; margin-top:$spacing-unit/2;}

}
