#documentation .toc-docs {

  position: static;

  ul.toc-nav {
    //this overrides current ul > li styles
    li {
      background-color: #eee;
      text-indent: 0;
      list-style: none;
      a {
        display: block;
        font-weight: 600;
        color: #666;
        padding: 6px 15px;
        &.active{
          background-color: #666;
          color: #eee;
        }
        &:not(.active):hover {
          background-color: #cecece;
        }
      }
    }

    ul.toc-subnav {
      padding-left: 0;
      li {
        a {
          font-weight: 300;
          &.active {
            background-color: #888;
            color: #eee;
          }
          &:not(.active):hover {
            background-color: #cecece;
          }
        }
      }
    }
  }
}