---
navigation:
- text: HOME
  url: /
- text: HOW IT WORKS
  url: /how-it-works/
- text: PLAYGROUND
  url: http://playground.transit.land
- text: AN OPEN PROJECT
  url: /an-open-project/
- text: PARTICIPATE
  url: /participate/
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/reveal.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47035811-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <nav class="navbar col-lg-12 col-md-12 col-sm-12">
      <a href="/">
      <div class="logo-image"></div>
      </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">
          MENU
        </button>
      </div>
      <div id="nav-menu-helper"></div>
      <div id="nav-menu-bar" class="navbar-collapse collapse">
        <div class="nav-menu">
          {% assign url = page.url|remove:'index.html' %}
            {% for link in page.navigation %}
              <div class="float-left">
                <a {% if url == link.url %}class="selected"{% endif %} href="{{link.url}}" target="_self">
                  <div class="circle"></div>
                  <div class="main">
                    {{link.text}}
                  </div>
                </a>
              </div>
            {% endfor %}
        </div>
      </div><!--/.navbar-collapse -->
    </nav>

    {{ content }}
    
    <script src="{{ "/js/vendor/jquery-2.1.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/bootstrap.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/sprite.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/animation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/ui-part.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
