---
layout: default
---

<section id="documentation" class="jumbotron">
  <div class="container">
    <div class="title col-md-12 center-text">
      <h2>DOCUMENTATION</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        {% include documentation_toc.html %}
      </div>
      <div class="col-xs-12 col-md-9" role="main">
        <div class="documentation-content">
          {% unless page.skip_title %}
            <h2>{{ page.title }}</h2>
          {% endunless %}
          {{ content }}
        </div>
        <div class="pull-right edit-action">
          <a href="https://github.com/transitland/www-transit-land/tree/master/{{page.path}}">
            Edit this page on GitHub
          </a>
          <i class="fa fa-github-alt"></i>
        </div>
      </div>
    </div>
  </div>
</section>
